In [1]:
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [2]:
cp = pd.read_csv('cp.csv')

In [3]:
cp.head()

    N   P   K  temperature   humidity        ph    rainfall label
0  90  42  43    20.879744  82.002744  6.502985  202.935536  rice
1  85  58  41    21.770462  80.319644  7.038096  226.655537  rice
2  60  55  44    23.004459  82.320763  7.840207  263.964248  rice
3  74  35  40    26.491096  80.158363  6.980401  242.864034  rice
4  78  42  42    20.130175  81.604873  7.628473  262.717340  rice

## The columns names  
1. N - Nitrogen
2. P - Phosphorus
3. k - Potassium
4. temperature
5. humidity
6. ph
7. rainfall
8. label

In [4]:
# Checking the Information of the dataset
cp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2200 entries, 0 to 2199
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   N            2200 non-null   int64
 1   P            2200 non-null   int64
 2   K            2200 non-null   int64
 3   temperature  2200 non-null   float64
 4   humidity     2200 non-null   float64
 5   ph           2200 non-null   float64
 6   rainfall     2200 non-null   float64
 7   label        2200 non-null   object
dtypes: float64(4), int64(3), object(1)
memory usage: 137.6+ KB

In [5]:
# Checking of the null values
cp.isnull().sum()

N              0
P              0
K              0
temperature    0
humidity       0
ph             0
rainfall       0
label          0
dtype: int64

In [6]:
cp.columns

Index(['N', 'P', 'K', 'temperature', 'humidity', 'ph', 'rainfall', 'label'], dtype='object')

In [8]:
X = cp[['N', 'P', 'K', 'temperature', 'humidity', 'ph', 'rainfall']]
y = cp['label']

In [11]:
pd.pivot_table(cp, index = 'label', values = ['N', 'P', 'K', 'temperature', 'humidity', 'ph', 'rainfall'])

,K,N,P,humidity,ph,rainfall,temperature
label,,,,,,,
apple,199.89,20.80,134.22,92.333383,5.929663,112.654779,22.630942
banana,50.05,100.23,82.01,80.358123,5.983893,104.626980,27.376798
blackgram,19.24,40.02,67.47,65.118426,7.133952,67.884151,29.973340
chickpea,79.92,40.09,67.79,16.860439,7.336957,80.058977,18.872847
coconut,30.59,21.98,16.93,94.844272,5.976562,175.686646,27.409892
coffee,29.94,101.20,28.74,58.869846,6.790308,158.066295,25.540477
cotton,19.56,117.77,46.24,79.843474,6.912675,80.398043,23.988958
grapes,200.11,23.18,132.53,81.875228,6.025937,69.611829,23.849575
jute,39.99,78.40,46.86,79.639864,6.732778,174.792798,24.958376
kidneybeans,20.05,20.75,67.54,21.605357,5.749411,105.919778,20.115085
lentil,19.41,18.77,68.36,64.804785,6.927932,45.680454,24.509052
maize,19.79,77.76,48.44,65.092249,6.245190,84.766988,22.389204
mango,29.92,20.07,27.18,50.156573,5.766373,94.704515,31.208770
mothbeans,20.23,21.44,48.01,53.160418,6.831174,51.198487,28.194920
mungbean,19.87,20.99,47.28,85.499975,6.723957,48.403601,28.525775
muskmelon,50.08,100.32,17.72,92.342802,6.358805,24.689952,28.663066
orange,10.01,19.58,16.55,92.170209,7.016957,110.474969,22.765725
papaya,50.04,49.88,59.05,92.403388,6.741442,142.627839,33.723859
pigeonpeas,20.29,20.73,67.73,48.061633,5.794175,149.457564,27.741762
pomegranate,40.21,18.87,18.75,90.125504,6.429172,107.528442,21.837842
rice,39.87,79.89,47.58,82.272822,6.425471,236.181114,23.689332
watermelon,50.22,99.42,17.00,85.160375,6.495778,50.786219,25.591767

In [ ]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, classification_report

In [13]:
X_train, X_test, Y_train, Y_test = train_test_split(X, y, test_size = 0.2, random_state = 42)

In [14]:
X_train.shape, X_test.shape, Y_train.shape, Y_test.shape

((1760, 7), (440, 7), (1760,), (440,))

In [15]:
log_reg = LogisticRegression()

In [17]:
import warnings
warnings.filterwarnings('ignore')
log_reg.fit(X_train, Y_train)

LogisticRegression()

In [19]:
from sklearn.metrics import accuracy_score

In [21]:
y_pred = log_reg.predict(X_test)

In [22]:
print(accuracy_score(Y_test, y_pred) * 100)

94.54545454545455

In [25]:
log_reg.predict([[99,	36,	20,	20.579819,	65.345839,	6.671086,	78.346045]])

array(['cotton'], dtype=object)

In [27]:
y.iloc[150]

'maize'

In [28]:
cp.iloc[1100]

N                      2
P                     40
K                     27
temperature      29.7377
humidity       47.548852
ph              5.954627
rainfall       90.095869
label              mango
Name: 1100, dtype: object

In [29]:
X.iloc[1100]

N               2.000000
P              40.000000
K              27.000000
temperature    29.737700
humidity       47.548852
ph              5.954627
rainfall       90.095869
Name: 1100, dtype: float64

In [30]:
log_reg.predict([[2,	40,	27,	29.737700,	47.548852,	5.954627,	90.095869]])

array(['mango'], dtype=object)

In [33]:
print(classification_report(Y_test, y_pred))

              precision    recall  f1-score   support

       apple       1.00      1.00      1.00        23
      banana       0.95      1.00      0.98        21
   blackgram       0.83      0.75      0.79        20
    chickpea       1.00      1.00      1.00        26
     coconut       1.00      1.00      1.00        27
      coffee       0.94      1.00      0.97        17
      cotton       0.80      0.94      0.86        17
      grapes       1.00      1.00      1.00        14
        jute       0.91      0.87      0.89        23
 kidneybeans       1.00      0.95      0.97        20
      lentil       0.83      0.91      0.87        11
       maize       0.94      0.76      0.84        21
       mango       0.95      1.00      0.97        19
   mothbeans       0.85      0.92      0.88        24
    mungbean       0.95      1.00      0.97        19
   muskmelon       1.00      1.00      1.00        17
      orange       1.00      1.00      1.00        14
      papaya       0.95      0.91      0.93        23
  pigeonpeas       0.95      0.91      0.93        23
 pomegranate       1.00      1.00      1.00        23
        rice       0.89      0.89      0.89        19
  watermelon       1.00      1.00      1.00        19

    accuracy                           0.95       440
   macro avg       0.94      0.95      0.94       440
weighted avg       0.95      0.95      0.94       440